= simple_form_for(@treinamento_ti) do |f|
  = f.error_notification

  .inputs
    %div{style: "display: block;"}
      - if current_user.admin
        = f.association :orgao, :required => true, input_html: {class: 'span6 no-margin', style: "display: block;"}, label_method: :nome, label_html: {style: "display: block;"}, label: 'Órgão', selected: current_user.orgao_id
      - else
        = f.association :orgao, :required => true, input_html: {class: 'span6 no-margin', style: "display: block;"}, label_method: :nome, label_html: {style: "display: block;"}, label: 'Órgão', selected: current_user.orgao_id, disabled: true  
    = f.input :treinamento, label: "Treinamento", input_html: { class: 'span6' }
    = f.input :empresa, label: "Empresa", input_html: { class: 'span6' }
    = f.input :qtd_pessoa, label: "Quantidade de pessoas", input_html: { class: 'span6' }

  .actions
    = f.button :submit, class: 'btn btn-success', value: 'Cadastrar treinamento de TI'
