%h1 Listar treinamentos de TI

- if current_user.admin
  = render 'filtro'
  
%table.table.table-hover
  %thead
    %tr
      %th Órgão
      %th Treinamento
      %th Quantidade de pessoa
      %th
      %th
      %th
  %tbody
  - @treinamentos_ti.each do |treinamento_ti|
    %tr
      %td= treinamento_ti.orgao.nome if treinamento_ti.orgao
      %td= treinamento_ti.treinamento
      %td= treinamento_ti.qtd_pessoa
      %td
        = link_to treinamento_ti, :title => 'Visualizar' do
          %span.fui-eye{:class => 'icons24'}
      %td
        = link_to edit_treinamento_ti_path(treinamento_ti), :title => 'Editar' do
          %span.fui-new{:class => 'icons24'}
      %td 
        = link_to treinamento_ti, :method => :delete, :title => 'Excluir', :data => { :confirm => 'Você tem certeza?' } do
          %span.fui-cross{:class => 'icons24'}

%br

- if not current_user.admin
  .btn.btn-small.btn-inverse
    = link_to 'Novo Treinamento de TI', new_treinamento_ti_path
