%h1 Listar Informações pessoais cadastradas

- if current_user.admin
  = render 'filtro'
  
%table.table.table-hover
  %thead
    %tr
      %th Órgão
      %th Cargo
      %th Nome
      %th
      %th
      %th
  %tbody
  - @informacoes_pessoais.each do |informacao_pessoal|
    %tr
      %td= informacao_pessoal.orgao.nome
      %td= informacao_pessoal.cargo.nome
      %td= informacao_pessoal.nome
      %td
        = link_to informacao_pessoal, :title => 'Visualizar' do
          %span.fui-eye{:class => 'icons24'}
      %td
        = link_to edit_informacao_pessoal_path(informacao_pessoal), :title => 'Editar' do
          %span.fui-new{:class => 'icons24'}
      %td 
        = link_to informacao_pessoal, :method => :delete, :title => 'Excluir', :data => { :confirm => 'Você tem certeza?' } do
          %span.fui-cross{:class => 'icons24'}

%br

.btn.btn-small.btn-inverse
  = link_to 'Nova Informação pessoal', new_informacao_pessoal_path
