%p.alert.alert-success=  notice

%h1 Visualizar órgão selecionado

%table.table.table-hover
  %tr
    %td
      %b Órgão:
    %td
      = @informacao_pessoal.orgao.nome
  %tr
    %td
      %b Cargo:
    %td
      = @informacao_pessoal.cargo.nome
  %tr
    %td
      %b Nome:
    %td
      = @informacao_pessoal.nome
  %tr
    %td
      %b Telefone:
    %td
      = @informacao_pessoal.telefone
  %tr
    %td
      %b Celular cooperativo:
    %td
      = @informacao_pessoal.celular_cooperativo
  %tr
    %td
      %b Celular pessoal:
    %td
      = @informacao_pessoal.celular_pessoal
  %tr
    %td
      %b Email cooperativo:
    %td
      = @informacao_pessoal.email_cooperativo
  %tr
    %td
      %b Email pessoal:
    %td
      = @informacao_pessoal.email_pessoal
  %tr
    %td
      %b Tipo contratação:
    %td
      = @informacao_pessoal.tipo_contratacao
  %tr
    %td
      %b Empresa:
    %td
      = @informacao_pessoal.empresa      
  %tr
    %td
      %b Vigência contrato:
    %td
      = @informacao_pessoal.vigencia_contrato
  %tr
    %td
      %b Pode renovar:
    %td
      = @informacao_pessoal.pode_renovar
  %tr
    %td
      %b Nível de escolaridade:
    %td
      = @informacao_pessoal.nivel_escolaridade        
  %tr
    %td
      %b Mini currículo:
    %td
      = @informacao_pessoal.mini_curriculo
  %tr
    %td
      %b Experiência:
    %td
      = @informacao_pessoal.experiencia
  %tr
    %td
      %b Cursos:
    %td
      = @informacao_pessoal.cursos 
  %tr
    %td
      %b Certificação:
    %td
      = @informacao_pessoal.certificacoes             
  %tr
    %td
      %b Conhecimentos adicionais:
    %td
      = @informacao_pessoal.conhecimentos_adicionais
  %tr
    %td
      %b Observações:
    %td
      = @informacao_pessoal.observacoes

%br

.btn.btn-small.btn-inverse
  = link_to 'Editar', edit_informacao_pessoal_path(@informacao_pessoal)
.btn.btn-small.btn-inverse
  = link_to 'Voltar', informacoes_pessoais_path
