%h2
  Editar informações do usuário
  /#{resource_name.to_s.humanize}
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true, :autofocus => true, input_html: { class: 'span6' }
    - if current_user.admin
      = f.association :orgao, :required => true, input_html: {class: 'span6 no-margin', style: "display: block;"}, label_method: :nome, label_html: {style: "display: block;"}, label: 'Órgão', selected: current_user.orgao_id
    - else
      = f.association :orgao, :required => true, input_html: {class: 'span6 no-margin', style: "display: block;"}, label_method: :nome, label_html: {style: "display: block;"}, label: 'Órgão', selected: current_user.orgao_id, disabled: true

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.input :password, :autocomplete => "off", :hint => " Deixe em branco caso não queira alterar sua senha", :required => false, input_html: { class: 'span6' }, :label => "Senha"
    = f.input :password_confirmation, :required => false, input_html: { class: 'span6' }, :label => "Confirmação de senha"
    = f.input :current_password, :hint => " Para concluir as alterações é necessário informar sua senha atual", :required => true, input_html: { class: 'span6' }, :label => "Senha atual"
  .form-actions
    = f.button :submit, "Atualizar cadastro", class: 'btn btn-success'

= link_to "Voltar", :back
