%h1 Listar sistema utilizado pelo órgão

= render 'filtro'

%table.table.table-hover
  %thead
    %tr
      %th Órgão
      %th Sistemas
      %th Nível implantação
      %th
      %th
      %th
  %tbody
  - @orgao_sistemas.each do |orgao_sistema|
    %tr
      %td= orgao_sistema.orgao.nome
      %td= orgao_sistema.sistema.nome
      %td= orgao_sistema.nivel_implantacao
      %td
        = link_to orgao_sistema, :title => 'Visualizar' do
          %span.fui-eye{:class => 'icons24'}
      %td
        = link_to edit_orgao_sistema_path(orgao_sistema), :title => 'Editar' do
          %span.fui-new{:class => 'icons24'}
      %td 
        = link_to orgao_sistema, :method => :delete, :title => 'Excluir', :data => { :confirm => 'Você tem certeza?' } do
          %span.fui-cross{:class => 'icons24'}       

%br

.btn.btn-small.btn-inverse
  = link_to 'Cadastrar novo', new_orgao_sistema_path
