%h1 Lista de Equipamentos utilizados pelo órgão

= render 'filtro'

%table.table.table-hover
  %thead
    %tr
      %th Orgão
      %th Equipamento
      %th Quantidade funcionando
      %th Quantidade defeito
      %th
      %th
      %th
  %tbody
  - @orgao_equipamentos.each do |orgao_equipamento|
    %tr
      %td= orgao_equipamento.orgao.nome
      %td= orgao_equipamento.equipamento.nome
      %td= orgao_equipamento.qtd_funcionando
      %td= orgao_equipamento.qtd_defeito
      %td
        = link_to orgao_equipamento, :title => 'Visualizar' do
          %span.fui-eye{:class => 'icons24'}
      %td
        = link_to edit_orgao_equipamento_path(orgao_equipamento), :title => 'Editar' do
          %span.fui-new{:class => 'icons24'}
      %td 
        = link_to orgao_equipamento, :method => :delete, :title => 'Excluir', :data => { :confirm => 'Você tem certeza?' } do
          %span.fui-cross{:class => 'icons24'}

%br

.btn.btn-small.btn-inverse
  = link_to 'Criar novo', new_orgao_equipamento_path
