= simple_form_for(@desktop) do |f|
  = f.error_notification

  .inputs
    = f.input :qtd_funcionando, label: 'Quantidade que estão funcionando', input_html: { class: 'span6' }
    = f.input :qtd_extra, label: 'Quantidade de equipamentos extras', input_html: { class: 'span6' }
    = f.input :qtd_defeito, label: 'Quantidade que estão com defeitos', input_html: { class: 'span6' }
    = f.input :descricao_defeito, as: :text, label: 'Descrição dos defeitos', placeholder: "Digite a descrição sobre o defeito", :input_html => {:rows => 4, :cols => 25, :class => 'input-textarea'}
    = f.input :qtd_emprestado, label: 'Quantidade que estão emprestados', input_html: { class: 'span6' }
    = f.input :lugar_emprestado, label: 'Lugar que foram emprestados', placeholder: "Lugar ao qual foi emprestado", input_html: { class: 'span6' }
    = f.input :qtd_garantia, label: 'Quantidade que estão com garantia', input_html: { class: 'span6' }
    %label.checkbox
      %span
        = f.input :tem_contrato_locacao, label: 'Tem contrato de locação?'
    = f.input :qtd_alugados, label: 'Quantidade que estão alugados', input_html: { class: 'span6' }
    = f.input :descricao_locacao, label: 'Descrição da locação', as: :text, placeholder: "Digite as informações sobre o contrato bem como sua data de validade", :input_html => {:rows => 4, :cols => 25, :class => 'input-textarea'}
    %label.checkbox
      %span
        = f.input :tem_contrato_manutencao, label: 'Tem contrato de manutenção?'
    = f.input :qtd_manutencao, label: 'Quantidade que estão em manutenção', input_html: { class: 'span6' }
    = f.input :descricao_manutencao, as: :text, label: 'Descrição da manutenção', placeholder: "Digite as informações sobre o contrato bem como sua data de validade", :input_html => {:rows => 4, :cols => 25, :class => 'input-textarea'}

  .actions
    = f.button :submit, class: 'btn btn-success', value: 'Cadastrar Desktop'
