%h1 Listar desktops cadastrados

%table.table.table-hover
  %thead
    %tr
      %th Quantidade de equipamentos funcionando
      %th Quantidade de equipamentos extras
      %th Quantidade com defeito
      %th Quantidade em manuteção
      %th
      %th
      %th
  %tbody
  - @desktops.each do |desktop|
    %tr
      %td= desktop.qtd_funcionando
      %td= desktop.qtd_extra
      %td= desktop.qtd_defeito
      %td= desktop.qtd_manutencao
      %td
        = link_to desktop, :title => 'Visualizar' do
          %span.fui-eye{:class => 'icons24'}
      %td
        = link_to edit_desktop_path(desktop), :title => 'Editar' do
          %span.fui-new{:class => 'icons24'}
      %td 
        = link_to desktop, :method => :delete, :title => 'Excluir', :data => { :confirm => 'Você tem certeza?' } do
          %span.fui-cross{:class => 'icons24'}

%br

.btn.btn-small.btn-inverse
  = link_to 'Novo Desktop', new_desktop_path