%p.alert.alert-success= notice

%h1 Visualizar desktop selecionado

%table.table.table-hover
  %tr
    %td
      %b Qtd funcionando:
    %td
      = @desktop.qtd_funcionando
  %tr
    %td
      %b Qtd extra:
    %td
      = @desktop.qtd_extra      
  %tr
    %td
      %b Qtd defeito:
    %td
      = @desktop.qtd_defeito      
  %tr
    %td
      %b Descrição do defeito:
    %td
      = @desktop.descricao_defeito
  %tr
    %td
      %b Qtd emprestado:
    %td
      = @desktop.qtd_emprestado
  %tr
    %td
      %b Lugar emprestado:
    %td
      = @desktop.lugar_emprestado
  %tr
    %td
      %b Qtd garantia:
    %td
      = @desktop.qtd_garantia
  %tr
    %td
      %b Tem contrato locação?
    %td
      = @desktop.tem_contrato_locacao
  %tr
    %td
      %b Qtd alugados:
    %td
      = @desktop.qtd_alugados
  %tr
    %td
      %b Descrição da locação:
    %td
      = @desktop.descricao_locacao
  %tr
    %td
      %b Tem contrato manutenção?
    %td
      = @desktop.tem_contrato_manutencao
  %tr
    %td
      %b Qtd manutenção:
    %td
      = @desktop.qtd_manutencao
  %tr
    %td
      %b Descrição da manutenção:
    %td
      = @desktop.descricao_manutencao

%br      

.btn.btn-small.btn-inverse
  = link_to 'Editar', edit_desktop_path(@desktop)

.btn.btn-small.btn-inverse
  = link_to 'Voltar', desktops_path