%h1 Lista de Softwares utilizados pelo órgão

%table.table.table-hover
  %tr
    %th Orgao
    %th Software
    %th Quantidade
    %th
    %th
    %th

  - @orgao_softwares.each do |orgao_software|
    %tr
      %td= orgao_software.orgao_id
      %td= orgao_software.software_id
      %td= orgao_software.quantidade
      %td
        = link_to orgao_software do
          %span.fui-eye{style: 'font-size: 24px'}
      %td
        = link_to edit_orgao_software_path(orgao_software) do
          %span.icons.fui-new
      %td 
        = link_to orgao_software, :method => :delete, :data => { :confirm => 'Are you sure?' } do
          %span.icons.fui-cross

%br

= link_to 'New Orgao software', new_orgao_software_path
