%h1 Lista de Softwares utilizados pelo órgão

- if current_user.admin
  = render 'filtro'

%table.table.table-hover
  %thead
    %tr
      %th Órgão
      %th Software
      %th Quantidade
      %th
      %th
      %th
  %tbody
  - @orgao_softwares.each do |orgao_software|
    %tr
      %td= orgao_software.orgao.nome if orgao_software.orgao
      %td= orgao_software.software.nome
      %td= orgao_software.quantidade
      %td
        = link_to orgao_software, :title => 'Visualizar' do
          %span.fui-eye{:class => 'icons24'}
      %td
        = link_to edit_orgao_software_path(orgao_software), :title => 'Editar' do
          %span.fui-new{:class => 'icons24'}
      %td 
        = link_to orgao_software, :method => :delete, :title => 'Excluir', :data => { :confirm => 'Você tem certeza?' } do
          %span.fui-cross{:class => 'icons24'}

%br

- if not current_user.admin
  .btn.btn-small.btn-inverse
    = link_to 'Cadastrar', new_orgao_software_path
