%p#notice= notice

%p
  %b Orgao:
  = @orgao_software.orgao_id
%p
  %b Software:
  = @orgao_software.software_id
%p
  %b Quantidade:
  = @orgao_software.quantidade

= link_to 'Edit', edit_orgao_software_path(@orgao_software)
\|
= link_to 'Back', orgao_softwares_path
