%h1 Listar softwares cadastrados

%table.table.table-hover
  %thead
    %tr
      %th Nome do software
  %tbody
  - @softwares.each do |software|
    %tr
      %td= software.nome
      %td.opcoes
        %span.icons.fui-time-24
          = link_to 'Mostrar', software
      %td.opcoes
        %span.icons.fui-time-24
          = link_to 'Editar', edit_software_path(software)
      %td.opcoes
        %span.icons.fui-time-24
          = link_to 'Excluir', software, :method => :delete, :data => { :confirm => 'Você tem certeza?' }

%br

.btn.btn-small.btn-inverse
  = link_to 'Novo Software', new_software_path