= simple_form_for(@orcamento_ti) do |f|
  = f.error_notification

  .inputs
    %div{style: "display: block;"}
      - if current_user.admin
        = f.association :orgao, :required => true, input_html: {class: 'span6 no-margin', style: "display: block;"}, label_method: :nome, label_html: {style: "display: block;"}, label: 'Órgão', selected: current_user.orgao_id
      - else
        = f.association :orgao, :required => true, input_html: {class: 'span6 no-margin', style: "display: block;"}, label_method: :nome, label_html: {style: "display: block;"}, label: 'Órgão', selected: current_user.orgao_id, disabled: true
    = f.input :orcamento_ti, input_html: { class: 'span6' }, label: 'Orçamento de TI 2013 do órgão', placeholder: "Coloque apenas número" 
  .actions
    = f.button :submit, class: 'btn btn-success', value: 'Cadastrar Orçamento de TI'
