= simple_form_for(@orgao) do |f|
  = f.error_notification

  .inputs
    = f.input :nome
    = f.input :tipo
    = f.input :vinculo
    = f.input :endereco
    = f.input :bairro
    = f.input :cep
    = f.input :telefone
    = f.input :secretario
    = f.input :email_secretario
    = f.input :nome_secretaria
    = f.input :telefone_secretaria
    = f.input :email_secretaria
    = f.input :atribuicoes_orgao

  .actions
    = f.button :submit, class: 'btn btn-success', value: 'Cadastrar Órgão'
