%h1 Listing orgaos

%table
  %tr
    %th Nome
    %th Tipo
    %th Vinculo
    %th Endereco
    %th Bairro
    %th Cep
    %th Telefone
    %th Secretario
    %th Email secretario
    %th Nome secretaria
    %th Telefone secretaria
    %th Email secretaria
    %th Atribuicoes orgao
    %th
    %th
    %th

  - @orgaos.each do |orgao|
    %tr
      %td= orgao.nome
      %td= orgao.tipo
      %td= orgao.vinculo
      %td= orgao.endereco
      %td= orgao.bairro
      %td= orgao.cep
      %td= orgao.telefone
      %td= orgao.secretario
      %td= orgao.email_secretario
      %td= orgao.nome_secretaria
      %td= orgao.telefone_secretaria
      %td= orgao.email_secretaria
      %td= orgao.atribuicoes_orgao
      %td= link_to 'Show', orgao
      %td= link_to 'Edit', edit_orgao_path(orgao)
      %td= link_to 'Destroy', orgao, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Orgao', new_orgao_path
