%h1 Listar órgãos cadastrados

%table.table.table-hover
  %thead
    %tr
      %th Nome
      %th Tipo
      %th Vínculo
      %th Telefone
      %th Secretário
  %tbody  
  - @orgaos.each do |orgao|
    %tr
      %td= orgao.nome
      %td= orgao.tipo
      %td= orgao.vinculo
      %td= orgao.telefone
      %td= orgao.secretario
      %td
        = link_to orgao, :title => 'Visualizar' do
          %span.fui-eye{:class => 'icons24'}
      %td
        = link_to edit_orgao_path(orgao), :title => 'Editar' do
          %span.fui-new{:class => 'icons24'}
      %td 
        = link_to orgao, :method => :delete, :title => 'Excluir', :data => { :confirm => 'Você tem certeza?' } do
          %span.fui-cross{:class => 'icons24'}

%br

.btn.btn-small.btn-inverse
  = link_to 'Novo Órgão', new_orgao_path
