%h1 Listar órgãos cadastrados

%table.table.table-hover
  %thead
    %tr
      %th Nome
      %th Tipo
      %th Vinculo
      %th Telefone
      %th Secretario
  %tbody  
  - @orgaos.each do |orgao|
    %tr
      %td= orgao.nome
      %td= orgao.tipo
      %td= orgao.vinculo
      %td= orgao.telefone
      %td= orgao.secretario
      %td.opcoes
        = link_to 'Mostrar', orgao
      %td.opcoes
        = link_to 'Editar', edit_orgao_path(orgao)
      %td.opcoes
        = link_to 'Excluir', orgao, :method => :delete, :data => { :confirm => 'Você tem certeza?' }

%br

.btn.btn-small.btn-inverse
  = link_to 'Novo Órgão', new_orgao_path
