%h1 Listar órgãos cadastrados

%table.table.table-hover
  %thead
    %tr
      %th Nome
      %th Tipo
      %th Vinculo
      %th Endereco
      %th Bairro
      %th Cep
      %th Telefone
      %th Secretario
      %th Email secretario
      %th Nome secretaria
      %th Telefone secretaria
      %th Email secretaria
      %th Atribuicoes orgao
  %tbody  
  - @orgaos.each do |orgao|
    %tr
      %td= orgao.nome
      %td= orgao.tipo
      %td= orgao.vinculo
      %td= orgao.endereco
      %td= orgao.bairro
      %td= orgao.cep
      %td= orgao.telefone
      %td= orgao.secretario
      %td= orgao.email_secretario
      %td= orgao.nome_secretaria
      %td= orgao.telefone_secretaria
      %td= orgao.email_secretaria
      %td= orgao.atribuicoes_orgao
      %td.opcoes
        = link_to 'Mostrar', orgao
      %td.opcoes
        = link_to 'Editar', edit_orgao_path(orgao)
      %td.opcoes
        = link_to 'Excluir', orgao, :method => :delete, :data => { :confirm => 'Você tem certeza?' }

%br

.btn.btn-small.btn-inverse
  = link_to 'Novo Órgão', new_orgao_path
