= simple_form_for(@videomonitoramento) do |f|
  = f.error_notification

  .inputs
    %div{style: "display: block;"}
      - if current_user.admin
        = f.association :orgao, :required => true, input_html: {class: 'span6 no-margin flat-select', style: "display: block;"}, label_method: :nome, label_html: {style: "display: block;"}, label: 'Órgão', selected: current_user.orgao_id
      - else
        = f.input :orgao_id, as: :hidden, input_html: {value: current_user.orgao_id}
    %label.checkbox
      %span.icons
        %span.first-icon.fui-checkbox-unchecked
        %span.second-icon.fui-checkbox-checked
      = f.input :possui_cameras, data: {toggle: 'checkbox'}, label: "Possui câmeras nas dependências do órgão"
    = f.input :pertencente_a, as: :select, collection: ['Própria', 'Terceirizada', 'Outro órgão'], input_html: {class: 'span6 no-margin', style: "display: block;"}, label_html: {style: "display: block;"}, prompt: 'Escolha', label: "Câmeras pertencente a: "
    %label.checkbox
      %span.icons
        %span.first-icon.fui-checkbox-unchecked
        %span.second-icon.fui-checkbox-checked
      = f.input :atual_videomonitoramento, data: {toggle: 'checkbox'}, label: "Possui projeto atual de videomonitoramento?"
    %label.checkbox
      %span.icons
        %span.first-icon.fui-checkbox-unchecked
        %span.second-icon.fui-checkbox-checked
      = f.input :previsto_videomonitoramento, data: {toggle: 'checkbox'}, label: "Possui projeto previsto de videomonitoramento?"

  .actions
    = f.button :submit, class: 'btn btn-success', value: 'Cadastrar videomonitoramento'
