%h1 Listar videomonitoramentos

- if current_user.admin
  = render 'filtro'

%table.table.table-hover
  %thead
    %tr
      %th Órgão
      %th Possui câmeras
      %th Pertencente a
      %th
      %th
      %th
  %tbody
  - @videomonitoramentos.each do |videomonitoramento|
    %tr
      %td= videomonitoramento.orgao.nome
      %td= videomonitoramento.possui_cameras
      %td= videomonitoramento.pertencente_a
      %td
        = link_to videomonitoramento, :title => 'Visualizar' do
          %span.fui-eye{:class => 'icons24'}
      %td
        = link_to edit_videomonitoramento_path(videomonitoramento), :title => 'Editar' do
          %span.fui-new{:class => 'icons24'}
      %td 
        = link_to videomonitoramento, :method => :delete, :title => 'Excluir', :data => { :confirm => 'Você tem certeza?' } do
          %span.fui-cross{:class => 'icons24'}

%br

.btn.btn-small.btn-inverse
  = link_to 'Novo Videomonitoramento', new_videomonitoramento_path
