!!!
%html
  %head
    %title Sistema para controle de parque tecnológico e derivados
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body


    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand.titulo SISCONTEC
          .nav-collapse.collapse
            %p.navbar-text.pull-right.login-list
              - if user_signed_in?
                Bem vindo,
                = current_user.email
                = link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link'
                = link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'

              - else
                = link_to 'Login', new_user_session_path, :class => 'navbar-link' 
            %ul.nav
              - if user_signed_in?
                %li
                  = link_to 'Inicial', index_path 
                %li
                  = link_to 'Formulários', '#'
                  %ul
                    %li
                      //= link_to 'Desktops', desktop_path(desktop)
                      - desktop = Desktop.find_by(orgao_id: current_user.orgao_id)
                      - if desktop
                        = link_to 'Desktops', desktop_path(desktop)
                      - else
                        = link_to 'Desktops', new_desktop_path
                    %li
                      = link_to 'Softwares Utilizados', orgao_softwares_path
                    %li
                      = link_to 'Equipamentos Utilizados', orgao_equipamentos_path
                    %li
                      = link_to 'Sistemas Utilizados', orgao_sistemas_path
                    %li
                      = link_to 'Impressoras', orgao_impressoras_path
                    %li
                      = link_to 'Informações pessoais', informacoes_pessoais_path
                    %li
                      = link_to 'Servidores', servidores_path
                    %li
                      = link_to 'Sistemas próprios', orgao_sistemas_proprios_path
                    %li
                      = link_to 'Informações sobre o GED', informacoes_ged_path
                    %li
                      = link_to 'Projetos de TI', projetos_ti_path
                    %li
                      = link_to 'Orçamentos de TI', orcamentos_ti_path
                    %li
                      = link_to 'Treinamentos de TI', treinamentos_ti_path  
                    %li
                      = link_to 'Informações sobre site', informacao_sites_path
                    %li
                      = link_to 'Videomonitoramentos', videomonitoramentos_path
                    %li
                      = link_to 'Outras informações', outras_informacoes_path                      
                %li
                  = link_to 'Demanda', '#'
                  %ul
                    %li
                      = link_to 'Videomonitoramentos', demanda_videomonitoramentos_path
                - if current_user.admin
                  %li
                    = link_to 'Admin', '#'
                    %ul
                      %li
                        = link_to 'Cargos', cargos_path
                      %li
                        = link_to 'Equipamentos', equipamentos_path
                      %li
                        = link_to 'Órgãos', orgaos_path
                      %li
                        = link_to 'Sistemas', sistemas_path                      
                      %li
                        = link_to 'Softwares', softwares_path

    .container

      .row
        - if alert
          %p.alert
            = alert

   
        %div.span12
          = yield
