!!!
%html
  %head
    %title Sistema para controle de parque tecnológico e derivados
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #content
      .navbar-inner
        %h3 Sistema para controle de parque tecnológico e derivados - SISCONTEC
      
      %br
      
      - if notice
        %p.notice
          = notice
      
      - if alert
        %p.alert
          = alert
   
      = link_to 'Sair', destroy_user_session_path, method: 'delete'

      = yield
